#login
	width: 100%

	button
		margin-top: 40px	
		width: 100%

	.el-card__body
		margin-top: 25px

	.el-form-item__label
		font-size: 12px
		line-height: 12px
		margin-bottom: 5px

	.loginContainer
		text-align: center
		max-width: 350px